@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400&display=swap');

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

#hero-msg h1, 
#hero-msg h4, 
.home-title, 
.msg h2, 
h1, h2, h3, h4 {
    font-family: 'Montserrat', Arial, sans-serif;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFFFFF; 
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #3D4730;
    color: #D9C2A3; 
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white; 
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .9;
    transform: scale(1.1);
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: #D9C2A3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

body {
    background-color: white;
    color: #2E2A24; 
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #6B7A52;
    color: #FFFFFF; 
    display: grid;
    grid-template-columns: 200px auto;
}

.book, .join {
    background-color: #6B7A52;
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img, .mountains {
    width: 100%;
}

main section img {
    box-sizing: border-box;
}

.book:hover, .join:hover {
    background-color: #3D4730;
    color: #D9C2A3; 
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #9B7A56;
    color: #FFFFFF; 
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.msg h2 {
    color: #FFFFFF;
}

.msg p {
    color: #FFFFFF;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    background-color: #6B7A52;
    color: #FFFFFF; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}   

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: #D9C2A3;
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}