body {
    background-color: #CFCFCF;
    font-family: Arial, Helvetica, sans-serif;
}

#boardingpass {
    max-width: 50%;
    background-color: white;
    margin: 0 auto;
    border-radius: 19px;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    padding: 15px 25px 0 25px;
}

header .logo {
    text-align: left;
}

header .name {
    margin-top: 9px;
}

.departureinfo {
    background-color: #071b34;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
}

.departureinfo img {
    justify-self: center;
    align-self: center;
}

.departureinfo h2 {
    color: #FAFFFF;
    font-size: 22px;
    /* margin: 10px 0; */
}

.departureinfo h4 {
    color: #30435D;
    font-size: 10px;
}

.gateinfo {
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

footer {
    text-align: center;
}