body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: "JetBrains Mono", "Fira Code", monospace;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(16, 46, 73, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
    margin: 0;
    font-size: 17px;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover {
    text-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff;
    
}
nav a:visited {
    color: white;
    text-decoration: none;
}

#self-statement {
    width: 40%;

    color: white;
    background-color: rgba(0, 195, 255, 0.05);
    padding: 20px 35px;
    border-radius: 20px;
    margin: 220px auto;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 195, 255, 0.1);
    transition: 0.3s;
}

#self-statement:hover {
    background-color: rgba(0, 195, 255, 0.08);
    box-shadow: 0 0 25px rgba(0, 195, 255, 0.25);
}

main {
    overflow-x: auto;
}

#iamge {
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 50%;
}

footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    background-color: rgb(16, 46, 73, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

footer i {
    color: white;
    font-size: 50px;
    transition: 0.3s;
}

footer i:hover {
    text-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff;
}