body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: "JetBrains Mono", "Fira Code", monospace;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(16, 46, 73, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    /* padding: 20px 0; */
    color: white;
    margin: 0;
    font-size: 17px;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
}
nav a:hover {
    text-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff;
    
}
nav a:visited {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#iamge {
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 50%;
}

#self-statement {
    color: white;
    background-color: rgba(0, 195, 255, 0.05);
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 10px;
    transition: 0.3s;
}
#self-statement:hover {
    background-color: rgba(0, 195, 255, 0.1);
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    background-color: rgb(16, 46, 73, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

footer i {
    color: white;
    font-size: 50px;
    transition: 0.3s;
}

footer i:hover {
    text-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff;
}